.category{
  border-width:1px 0 1px 0;
  background-color:#74c046;
  /*border-style:solid;*/
  margin:.5%;
}
.category-switch{
  border-width:1px 0 1px 0;
  background-color:purple;
  margin:.5%;
}
.form-content{
  background-color:white;
}
.form-content input{
  height:5%;
}
.category span{
  font-size:120%;
  text-align: center;
}
.form-group label{
  float:left;
  margin-right:5%
}
.form-group input {
  width:30%;
  margin-right:5%;
}
.form-inline div:first-child {
  padding-top:5%;
}
.contact-table tr:nth-child(odd) {
  background-color:lightgrey;
}
.contact-table tr td:nth-child(even){
  margin-left:5%;
  padding-top:0.5%;
  padding-bottom:0.5%;
  padding-right:5%;
  width:70%;
}
.diet-table{
  width:80%;
  text-align:center-left;
  margin-left:10%;
}


.checkbox {
  margin-left:5%;
}


#profile-form img{
  float:right;
  margin:5% 5% 0 0;
  width:30%;
}


.radio-controls label {
    display: inline-block;
    text-align: center;
}
.radio-controls input {
    display: inline-block;
    vertical-align: middle;
}


/*dietary-checkbox*/
#wb {
    width: 15px;
    height: 15px;
    float: left;
    padding-left: 3px;
}
#somelabel {
    float: left;
    padding-left: 2px;
    padding-right: 10px;
}
