/*colors:
  Green: R=116, G=192, B=70   HEX= 74c046
  BlueGrey: R=148, G=169, B=181   HEX= 94a9b5
  Black: R=34, G=30, B=31   HEX= 221e1f*/


/*@media (max-width:375px){*/
  .container{
    overflow:scroll;
    padding-bottom:15%;
    box-sizing:border-box;
  }
  /*layout-order:header,form-top,middle,form-bottom,mid-bottom,footer*/
  .header-container{
    padding:1%;
    box-sizing:border-box;
    border:1px solid #74c046;
    max-height:15%;
  }
  .form-top-container{
    box-sizing:border-box;
    display:block;
    height:18%;
    padding-top:1%;
    /*max-height:30%;*/
    /*border:1px solid orange;*/
  }
  .middle-container{
    display:block;
    text-align:center;
    font-size:90%;
    height:20%;
    box-sizing:border-box;
    /*margin-top:5%;*/
    /*border:1px solid orange;*/
  }
  .form-bottom-container{
    /*padding-top:5%;*/
    display:block;
    height:18%;
    box-sizing:border-box;
    /*margin-bottom:20%;*/
    /*overflow:hidden;*/
  }
  .mid-bottom-container{
    box-sizing:border-box;
    border:2px solid #94a9b5;
    background-color:lightgrey;
    margin-top:1%;
    /*display:inline-block;*/
    padding-bottom:15%;
  }
  /*header*/
  #logo{
    height:100%;
    padding-left:5%;
    display:block;
    /*border:1px solid purple;*/
  }
  .header-container h1{
    float:right;
    text-align:center;
    padding-right:5%;
    /*border:1px solid orange;*/
  }
  #banner{
    float:right;
    text-align:center;
    padding-right:5%;
    height:90%;
    /*border:1px solid orange;*/
  }
  .slogan{
    box-sizing:border-box;
    text-align:center;
    font-size:120%;
    border:solid #94a9b5;
    border-width:1px 1px 2px 1px;
    padding-top:3%;
    background-color:#74c046;
  }
  /*forms and buttons*/
  .form{
    /*border:1px solid hotpink;*/
    display:block;
    position:relative;
    text-align:center;
  }
  .form button{
    width:86%;
    height:30%;
    box-shadow:none;
    margin-top:1%;
  }
  .form input{
    margin-top:2%;
    margin-bottom:2%;
    height:35%;
    width:87%;
    text-indent:5%;
    font-size:110%;
    border:1px solid lightgrey;
    overflow:auto;
  }
  .form a {
    font-size:70%;
  }

  /*top form*/
  .form-top-container input{
    background-image:url('../images/search-icon.jpeg');
    background-size:15px;
    background-repeat:no-repeat;
    background-position:95%;
    /*padding-left:5%;*/
  }

  /*middle container*/
  .middle-container img{
    height:13%;
    padding-top:4%;
    padding-bottom:5px;
    /*border:1px solid green;*/
  }
  .middle-container a{
    /*padding-bottom:5%;*/
  }
  .middle-container .pick-box:first-child {
    padding-right:0%;
  }
  .middle-container span {
    border:1px solid #94a9b5;
    border-radius:5px;
    color:#221e1f;
    padding:1%;
    background-color:white;
  }
  /*.row-full-height {
    height: 100%;
  }
  .col-full-height {
    height: 100%;
    vertical-align: middle;
  }*/
  .row-same-height {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .col-xs-height {
    display: table-cell;
    float: none !important;
  }

  /*bottom/login form*/
  .form-bottom-search input:first-child{
    background-image:url('../images/user_icon.png');
    background-size:20px;
    background-repeat:no-repeat;
    background-position:95%;
  }
  .form-bottom-search input:nth-of-type(2){
    background-image:url('../images/lock_icon.png');
    background-size:20px;
    background-repeat:no-repeat;
    background-position:95%;
    color:grey;
  }


/*footer-menu*/
  .menu-button{
    background-color:#74c046;
  }
  .footer {
    /*border:1px solid #94a9b5;*/
    width:100%;
    bottom:0;
    position:fixed;
    display:block;
  }
  .col-xs-3{
    color:black;
    text-align:center;
    font-size:100%;
    padding: 10px 0 10px 0;
    border:1px solid black;
    /*overflow:scroll;*/
  }
  .body-color {
    /*background-color:#FFEFD6;*/
  }
/*}*/
